:root {
  --color-naranja: rgb(255, 103, 31);
  --color-naranja-50: rgba(255, 103, 31, 0.5);
  --color-rojo: rgb(210, 91, 115);
  --background: rgb(254, 243, 236);
  --background-50: rgba(254, 243, 236, 0.5);
  --facebook: rgb(59, 89, 152);
  --twitter: rgb(29, 161, 242);
  --instagram: rgb(255, 45, 85);
  --gmail: rgb(211, 47, 47);
  --white: rgb(255, 255, 255);
}

.fb {
  color: var(--facebook);
}

.tw {
  color: var(--twitter);
}

.ig {
  color: var(--instagram);
}

.gm {
  color: var(--gmail);
}

.header {
  background-color: var(--background);
}

.find-button {
  background: var(--color-naranja);
}

.menu-text {
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--color-rojo);
}

.menu-text-button {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  color: var(--color-naranja);
  background: none;
  border: none;
  border-radius: 6px;
  margin-top: 1vh;
  margin-right: 1vh;
}

.menu-text-button:hover {
  background-color: var(--color-naranja-50);
  color: var(--background);
}

.social {
  display: flex;
}

.social-button {
  background: none;
  border: none;
}

.bars-button:focus {
  outline: none;
  border: none;
}

.div-collapsed {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: var(--background);
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.custom-modal {
  width: 100%;
  background-color: var(--background);
  border-radius: 8px;
}

/*.contenidoInicio{
  font-family: 'Merriweather Sans', sans-serif;
  transform: translate(0%, -2%);
}*/

#scrollUp{
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: url(/img/flecha.jpg);
}

/*Preload*/
#preload{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: #333;
}

#porcentajeCarga{
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
  top: 52%;
  font-size: 20px;
  font-weight: 100;
}

#lineaCarga{
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0%;
  background: #666;
}

#rellenoCarga{
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: #999;
}

#estadoCarga{
  position: absolute;
  background: url(/La-clicla-del-taco/img/loader.gif);
  background-position: center;
  top: 45%;
  left: 50%;
  transform: translate( -50%, -50%);
  width: 200px;
  height: 200px;
}
/*Preload*/

.introArticulo{
  font-family: 'Merriweather Sans', sans-serif;
  position: relative;
}

/*.fecha{
  font-family: 'Merriweather Sans', sans-serif;
  position: absolute;
  right: 10px;
  top: 0px;
  padding: 5px 10px;
  color: #aaa;
  font-size: 14px;
  background: url(/La-clicla-del-taco/img/globo.jpg);
  background-size: cover;
  background-position: center top;
  height: 40px;
}*/

.grid figure{
  font-family: 'Merriweather Sans', sans-serif;
  position: relative;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 8px solid white;
  border-right: 8px solid white;
  cursor: pointer;
  transition: 1s all;
}

.grid .columna1{
  width: 40%;
}

.grid .photo1{
  height: 400px;
  background: url(/assets/img/TacoReal.jpg);
  background-size: cover;
  background-position: left;
}
.grid .photo2{
  height: 300px;
  background: url(/assets/img/NWTacoSonora1.png);
  background-size: cover;
  background-position: left;
}
.grid .photo3{
  height: 300px;
  background: url(/assets/img/TacosJohnny.jpg);
  background-size: cover;
  background-position: left;
}
.grid .photo4{
  height: 300px;
  background: url(/assets/img/TaqueriasElChino.jpg);
  background-size: cover;
  background-position: left;
}
.grid .photo5{
  height: 400px;
  background: url(/assets/img/TaqueriaIrazema.png);
  background-size: cover;
  background-position: left;
}
.grid .photo6{
  height: 200px;
  background: url(/assets/img/TaqueriaLosReportados.png);
  background-size: cover;
  background-position: left;
}

.grid figure p{
  position: absolute;
  left: 0px;
  bottom: -16px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--color-rojo);
  font-weight: 100;
  font-size: 20px;
}

.grid figure p:hover{
  background-color: var(--color-naranja-50);
  color: var(--background);
}


/*GridFooter
.gridFooter{
  height: 300px;
  overflow: hidden;
}*/

footer{
  background-color: var(--background);
}

.gridFooter figure{
  font-family: 'Merriweather Sans', sans-serif;
  position: relative;
  border-top: 4px solid var(--background);
  border-bottom: 4px solid var(--background);
  border-left: 4px solid var(--background);
  border-right: 4px solid var(--background);
  cursor: pointer;
  transition: 1s all;
}

.gridFooter .columna1{
  width: 40%;
}

.gridFooter .photo1{
  height: 200px;
  background: url(/assets/img/TacoReal.jpg);
  background-size: cover;
  background-position: left;
}
.gridFooter .photo2{
  height: 100px;
  background: url(/assets/img/NWTacoSonora1.png);
  background-size: cover;
  background-position: left;
}
.gridFooter .photo3{
  height: 100px;
  background: url(/assets/img/TacosJohnny.jpg);
  background-size: cover;
  background-position: left;
}
.gridFooter .photo4{
  height: 100px;
  background: url(/assets/img/TaqueriasElChino.jpg);
  background-size: cover;
  background-position: left;
}
.gridFooter .photo5{
  height: 200px;
  background: url(/assets/img/TaqueriaIrazema.png);
  background-size: cover;
  background-position: left;
}

.gridFooter figure p{
  position: absolute;
  left: 0px;
  bottom: -16px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--color-rojo);
  font-weight: 100;
  font-size: 15px;
}

.gridFooter figure p:hover{
  background-color: var(--color-naranja-50);
  color: var(--background);
}

@media (max-width: 768px) {
  .banner {
    display: none;
  }
  .div-collapsed {
    display: none;
  }
  .footer {
    display: flex;
  }
  .social {
    display: none;
  }

  .grid .columna1{
    width: 50%;
  }
  .grid .photo1{
    height: 120px;
  }
  .grid .photo2{
    height: 120px;
  }
  .grid .photo3{
    height: 120px;
  }
  .grid .photo4{
    height: 120px;
  }
  .grid .photo5{
    height: 120px;
  }
  .grid .photo6{
    height: 120px;
  }
  .grid figure p{
    font-size: 14px;
  }
}

